<!DOCTYPE html>
<html>

<head>
    <title>Reverb 2018 Registration Form</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
	
	<style>
		
		
	</style>
</head>


<body>
    
    <h1 align="center">Reverb 2018 Registration Form</h1>
    <div>
        <form name="form" method="post" action="" target="_self" onsubmit="return validate()">
            <div>
                <div style="margin-left:auto;margin-right:auto;margin-top:25px;">
			<div>
				<input class="form-control" type="text" name="SchoolName" placeholder="School Name" style="width: 350px; margin-left: auto; margin-right: auto;" required>
			</div>
			<select class="form-control" name="Event" style="margin-top:25px;margin-bottom:25px; width: 350px; margin-left: auto; margin-right: auto;">
				<optgroup label="Event">
					<option value="Event" selected = "" disabled>Event</option>
					<option value="football">Football</option>
					<option value="basketball">Basketball</option>
					<option value="swimming">Swimming</option>
					<option value="hockey">Hockey</option>
					<option value="tennis">Tennis</option>
				</optgroup></select>
                    <select class="form-control" name="Category" style="width: 350px; margin-left: auto; margin-right: auto;">
                        <optgroup label="Category">
                            <option value="Category" selected="" disabled>Category</option>
                            <option value="u12">Under 12th Grade</option>
                            <option value="u10">Under 10th Grade</option>
                        </optgroup>
                        </select>
			
			
			
			
			<div class="row" style= "width: 100vw; margin-top: 25px; margin-left: auto; margin-right: auto;">
		<div style="margin-left: auto; margin-right: 0px; width: 175px;">
		<input class="form-control" type="text" name="P1Name" placeholder="Participant 1 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;" required>
		<input class="form-control" type="text" name="P2Name" placeholder="Participant 2 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P3Name" placeholder="Participant 3 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P4Name" placeholder="Participant 4 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P5Name" placeholder="Participant 5 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P6Name" placeholder="Participant 6 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P7Name" placeholder="Participant 7 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P8Name" placeholder="Participant 8 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P9Name" placeholder="Participany 9 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P10Name" placeholder="Participant 10 Name" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
			</div>
			
		
			
		<div style="margin-right: auto; margin-left: 0px; width: 175px;">
		<input class="form-control" type="text" name="P1DOB" placeholder="Participant 1 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;" required>
		<input class="form-control" type="text" name="P2DOB" placeholder="Participant 2 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P3DOB" placeholder="Participant 3 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P4DOB" placeholder="Participant 4 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P5DOB" placeholder="Participant 5 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P6DOB" placeholder="Participant 6 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P7DOB" placeholder="Participant 7 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P8DOB" placeholder="Participant 8 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P9DOB" placeholder="Participany 9 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 25px; margin-bottom: 25px;">
		<input class="form-control" type="text" name="P10DOB" placeholder="Participant 10 DOB" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px;">
			</div>
			 </div>
			<div>
			<div style="margin-left: auto; margin-right: auto; width: 350px;">
			<button class="btn btn-primary" type="submit" style="width:350px;margin-top:25px; margin-left: auto; margin-right: auto;" onclick="checkInfo()">Submit</button></div>
			</div>
			</div>
            </div>
		
		
		<div>
		
		 
		
		</div>
			
			
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
	
	<script>
		function checkInfo() {
			let eventIndex = document.getElementsByName("Event")[0].selectedIndex;
			let event = document.getElementsByTagName("option")[eventIndex].value;
			let catIndex = document.getElementsByName("Category")[0].selectedIndex;
			let categoryName = document.getElementsByTagName("option")[catIndex + 6].value;

			if(event == "football" || event == "basketball") {
				
				
				if (categoryName == "u12") {
					alert("error. " + event + " is only available for Under 10");
				} else {
					submit();
				}
				
			} else {
				submit();
			}
		}
	
		function submit() {
			if(form.checkValidity) {
				form.submit;
			} else {
				form.querySelector('input[type="submit"]').click();
			}
		}
    
    function validata() {
        let eventIndex = document.getElementsByName("Event")[0].selectedIndex;
        let event = document.getElementsByTagName("option")[eventIndex].value;
        let catIndex = document.getElementsByName("Category")[0].selectedIndex;
        let categoryName = document.getElementsByTagName("option")[catIndex + 6].value;
        
        if(event == "football" || event == "basketball") {
            
            
            if (categoryName == "u12") {
                return false;
            }
            
        }
        
        return true;
        
    }
	
	
	
	
	
	</script>
</body>

</html>
